name: learn-github-actions
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: self-hosted
    steps:
      - name: Setup and run tests
        working-directory: ~/predbot-recode/
        run: git pull
